---
trigger: always_on
---

- When verifying the implementation, always run it via Docker and NOT on the local environment.
- If a new script is needed for debugging an issue place it in the scripts folder.
